@import 'src/styles/abstract/mixins';

label,
input {
  width: 100%;
}

.todoInput {
  padding: 1.5rem;
  border: none;
  border-radius: 7px;
  font-weight: 500;

  &::placeholder {
    font-style: italic;
  }

  @include media-query(tablet-portrait-up) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
