@import 'src/styles/abstract/mixins';
@import 'src/styles/abstract/colors';

label,
input {
  width: 100%;
}

input {
  padding: 1.5rem 1.5rem 1.35rem;
  border: 1px solid $stone-800;
  border-radius: 7px;
  font-weight: 500;

  &::placeholder {
    font-style: italic;
  }
}

.todoInput {
  @include media-query(tablet-portrait-up) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
