@import 'src/styles/abstract/colors';

.listItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 45rem;
  padding: 1.6rem;
  margin: 0.6rem 0;
  background-color: $blue-500;
  border-radius: 0.7rem;

  &__text {
    font-size: 1.8rem;
    cursor: default;
  }

  &__buttonsContainer {
    display: flex;
  }
}
