@import 'src/styles/abstract/colors';

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  background-color: $blue-500;
  border-radius: 0.7rem;

  &__text {
    font-size: 1rem;
    cursor: default;
  }

  &__button {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
