@import 'src/styles/abstract/colors';
@import 'src/styles/abstract/mixins';

.addBtn {
  width: 100%;
  background-color: $yellow-600;
  border: none;
  padding: 1.5rem;
  margin: 1.6rem 0;
  border-radius: 0.7rem;
  font-weight: 500;
  color: $gray-50;
  cursor: pointer;
  box-shadow: 0.7rem 0.6rem 2.8rem 0.1rem rgba(0, 0, 0, 0.24);
  transition: 0.3s;

  &:active {
    box-shadow: 0.7rem 0.7rem 2.8rem 0.1rem rgba(0, 0, 0, 0.24);
    transform: translateY(0.4rem);
  }

  &:hover {
    background-color: $yellow-500;
  }

  @include media-query(tablet-portrait-up) {
    width: 35%;
    margin-top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.buttonNotCompleted {
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.deleteBtn,
.cancelBtn {
  width: 100%;
  background-color: $yellow-600;
  border: none;
  padding: 1.5rem;
  margin: 1rem 0 0;
  border-radius: 0.7rem;
  font-weight: 500;
  color: $gray-50;
  cursor: pointer;
  box-shadow: 0.7rem 0.6rem 2.8rem 0.1rem rgba(0, 0, 0, 0.24);
  transition: 0.3s;

  &:active {
    box-shadow: 0.7rem 0.7rem 2.8rem 0.1rem rgba(0, 0, 0, 0.24);
    transform: translateY(0.4rem);
  }
}

.deleteBtn {
  background-color: $red-700;

  @include media-query(tablet-portrait-up) {
    margin-left: 1rem;
  }

  &:hover {
    background-color: $red-800;
  }
}

.cancelBtn {
  background-color: $blue-500;

  &:hover {
    background-color: $blue-600;
  }
}
